[FORMAT]
indent-string='\t'

[DESIGN]
max-args=99

[MESSAGES CONTROL]
disable=missing-class-docstring,missing-module-docstring,missing-function-docstring,typecheck,line-too-long,too-many-locals,too-many-arguments,too-many-statements,too-many-lines,too-many-instance-attributes,unnecessary-lambda-assignment,invalid-name