GitPython
Jinja2
MarkupSafe
PyYAML
accelerate
aiohappyeyeballs
aiohttp
aiosignal
attrs
bitsandbytes
certifi
chardet
charset-normalizer
click
contourpy
cycler
datasets
dill
docker-pycreds
filelock
fonttools
frozenlist
fsspec
gitdb
huggingface-hub
idna
kiwisolver
matplotlib
mpmath
multidict
multiprocess
networkx
numpy
packaging
pandas
pillow
platformdirs
propcache
protobuf
psutil
pyarrow
pyparsing
python-dateutil
pytz
reportlab
requests
seaborn
sentry-sdk
setproctitle
setuptools
six
smmap
sympy
termcolor
torch
tqdm
transformers
typing_extensions
tzdata
urllib3
wandb
xxhash
yarl

# Optional, comment out if on a system without CUDA